{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>is it new year</title>
        <link href="{% static 'newyear/style.css'%}" rel="stylesheet">
    </head>
    <body>
        <div id="yeee">
            {% if newyear %}
                <h1>
                    YES
                </h1>
            {% else %}
                <h1>
                    NO
                </h1>
            {% endif %}
        </div>
    </body>
</html>    

