{% extends "tasks/layout.html"%}
        
{% block body %}
<h1>add task</h1>
<form action="{% url 'task:add' %}" method = "POST">
    {% csrf_token %}
    {{form}}
    <input type = "submit">
</form>
<a href="{% url 'task:index' %}">back to menu</a>
{% endblock %}