{% extends "tasks/layout.html"%}
        
{% block body %}
<ul>
    {% for task in tasks %}
    <li>
        {{task}}
    </li>
    {% empty %}
    <li>No task</li>
    {% endfor %}
</ul>
<a href="{% url 'task:add' %}">Add a new task</a>
{% endblock %}